@import "bootstrap/scss/bootstrap";

/* Home */
.Accueil {
  text-align: center;
}
.carousel-item img {
  height: 500px; /* Ajustez la hauteur selon vos besoins */
  object-fit: cover;
}
#homeCarousel {
  width: 100%;
}

// Présentation produit
#affiche {
  width: 65%;
}

.presentation {
  text-align: center;
}

// ProduitCard

.prix {
  font-weight: bold;
}
.carte {
  text-align: center;
}

// ProduitRow

.rowcarte {
  text-align: justify;
}

// Panier

.Panier {
  text-align: justify;
}

#Total {
  text-align: center;
  font-weight: bold;
}

#Total span {
  color: red;
}
