@import "bootstrap/scss/bootstrap";

/* Home */
.Accueil {
  text-align: center;
}

// Présentation produit
#affiche {
  width: 65%;
}

.presentation {
  text-align: center;
}

// ProduitCard

.prix {
  font-weight: bold;
}
.carte {
  text-align: center;
}

// ProduitRow

.rowcarte {
  text-align: justify;
}
/* Footer */
.custom-footer {
  min-height: 200px;
  padding: 20px 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
// Panier

.Panier {
  text-align: justify;
}

#Total {
  text-align: center;
  font-weight: bold;
}

#Total span {
  color: red;
}
